<div class="management__route">
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    <p-breadcrumb 
    
    [model]="items" 
    [home]="home" />
</div>

<!-- Tarjetas de configuración, listas de las diferentes configuraciones que se pueden hacer -->
<div class="settings">
    <div *ngFor="let card of settingsCards" 
         class="settings__card" 
         [ngClass]="{'settings__card--disabled': card.disabled}"
         (click)="!card.disabled && navigateTo(card.route, card.action)">
        <div class="settings__card-header">
            <i [class]="card.icon"></i>
            <h3>{{ card.titleKey | translate }}</h3>
        </div>
        <p class="settings__card-description">{{ card.descriptionKey | translate }}</p>
        <div *ngIf="card.disabled" class="settings__card-disabled-badge">
            {{ 'settings.disabled' | translate }}
        </div>
    </div>
</div>


<div class="card flex justify-content-center">
   
    <p-dialog [header]="'settings.dialogs.roles' | translate" [modal]="true" [(visible)]="RolesFormDisplay" >
        <app-user-roles-settings></app-user-roles-settings>
    </p-dialog>

    <p-dialog [header]="'settings.dialogs.system' | translate" 
             [modal]="true" 
             [(visible)]="SystemSettingsDisplay"
             [style]="{width: '70vw', maxWidth: '900px'}"
             [contentStyle]="{overflow: 'auto'}"
             styleClass="app-dark-dialog">
        <app-system-settings></app-system-settings>
    </p-dialog>

    <p-dialog [header]="'settings.dialogs.servers' | translate" 
             [modal]="true" 
             [(visible)]="ServersSettingsDisplay"
             [style]="{width: '70vw', maxWidth: '900px'}"
             [contentStyle]="{overflow: 'auto'}"
             styleClass="app-dark-dialog">
        <app-servers-settings></app-servers-settings>
    </p-dialog>

    <p-dialog [header]="'settings.dialogs.plans' | translate" 
             [modal]="true" 
             [(visible)]="PlansSettingsDisplay"
             [style]="{width: '80vw', maxWidth: '950px'}"
             [contentStyle]="{overflow: 'auto'}"
             styleClass="app-dark-dialog">
        <app-plans-settings></app-plans-settings>
    </p-dialog>

    <p-dialog [header]="'settings.dialogs.colors' | translate" 
             [modal]="true" 
             [(visible)]="ColorsSettingsDisplay"
             [style]="{width: '70vw', maxWidth: '900px'}"
             [contentStyle]="{overflow: 'auto'}"
             styleClass="app-dark-dialog">
        <app-colors-settings></app-colors-settings>
    </p-dialog>

    <p-dialog [header]="'settings.dialogs.brands' | translate" 
             [modal]="true" 
             [(visible)]="VehicleBrandsSettingsDisplay"
             [style]="{width: '80vw', maxWidth: '950px'}"
             [contentStyle]="{overflow: 'auto'}"
             styleClass="app-dark-dialog">
        <app-vehicle-brands-settings></app-vehicle-brands-settings>
    </p-dialog>

    <p-dialog [header]="'settings.dialogs.models' | translate" 
             [modal]="true" 
             [(visible)]="VehicleModelsSettingsDisplay"
             [style]="{width: '90vw', maxWidth: '1050px'}"
             [contentStyle]="{overflow: 'auto'}"
             styleClass="app-dark-dialog">
        <app-vehicle-models-settings></app-vehicle-models-settings>
    </p-dialog>

</div>