<div class="management__route">

    <p-breadcrumb 
    
    [model]="items" 
    [home]="home" />
</div>

<!-- Tarjetas de configuración, listas de las diferentes configuraciones que se pueden hacer -->
<div class="settings">
    <div *ngFor="let card of settingsCards" 
         class="settings__card" 
         (click)="navigateTo(card.route, card.action)">
        <div class="settings__card-header">
            <i [class]="card.icon"></i>
            <h3>{{ card.titleKey | translate }}</h3>
        </div>
        <p class="settings__card-description">{{ card.descriptionKey | translate }}</p>
    </div>
</div>


<div class="card flex justify-content-center">
   
    <p-dialog [header]="'settings.dialogs.roles' | translate" [modal]="true" [(visible)]="RolesFormDisplay" >
        <app-user-roles-settings></app-user-roles-settings>
    </p-dialog>

  
</div>