<div class="main">
    <div class="target-form">
        <div class="target-form__tools">
            <div class="card">
                <p-tabView
                    [activeIndex]="activeTabIndex"
                    (activeIndexChange)="activeTabIndex = $event"
                >
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <i class="tab-icon pi pi-car"></i>
                            <span class="tab-text">{{ translate(translations.vehicleInfo) }}</span>
                        </ng-template>
                        <div class="target-form__base">
                            <!-- Mensaje informativo eliminado -->
                            
                            <form class="target-form__form" (ngSubmit)="onSubmit()" ngNativeValidate>
                                <div class="target-form__grid">

                                    <!-- Columna Izquierda -->
                                    <div class="target-form__column">
                                        <div class="target-form__field">
                                            <label for="name">{{ translate(translations.name) }} <span class="required-label">(Requerido)</span></label>
                                            <input 
                                                [(ngModel)]="target.name"
                                                name="name"
                                                placeholder="Ej: Ford Explorer 2021" 
                                                type="text" 
                                                id="name" 
                                                required
                                            >
                                        </div>

                                <div class="target-form__field">
                                            <label for="brand">{{ translate(translations.brand) }} <span class="required-label">(Requerido)</span></label>
                                            <select
                                                [(ngModel)]="target.target_brand_id"
                                                name="target_brand_id"
                                                id="brand"
                                                required
                                                (change)="onBrandChange()"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectBrand') }}</option>
                                                <option *ngFor="let brand of availableBrands" [value]="brand.value">
                                                    {{brand.label}}
                                                </option>
                                            </select>
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="model">{{ translate(translations.model) }} <span class="required-label">(Requerido)</span></label>
                                            <select
                                                [(ngModel)]="target.target_model_id"
                                                name="target_model_id"
                                                id="model"
                                                required
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectModel') }}</option>
                                                <option *ngFor="let model of availableModels" [value]="model.value">
                                                    {{model.label}}
                                                </option>
                                    </select>
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="year">{{ translate(translations.year) }}</label>
                                            <select
                                                [(ngModel)]="target.target_year"
                                                name="target_year"
                                                id="year"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectYear') }}</option>
                                                <option *ngFor="let year of availableYears" [value]="year.value">
                                                    {{year.label}}
                                                </option>
                                    </select>
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="status">{{ translate('management.targetForm.status') }}</label>
                                            <select
                                                [(ngModel)]="target.status"
                                                name="status"
                                                id="status"
                                            >
                                                <option value="active">{{ translate('management.targetForm.statusActive') }}</option>
                                                <option value="inactive">{{ translate('management.targetForm.statusInactive') }}</option>
                                            </select>
                                        </div>

                                        <div class="target-form__field target-form__field--small">
                                            <label for="description">{{ translate(translations.description) }}</label>
                                            <textarea 
                                                [(ngModel)]="target.description"
                                                name="description"
                                                placeholder="Ej: Vehículo de flota para entregas" 
                                                id="description"
                                                rows="3"
                                            ></textarea>
                                        </div>
                                </div>
                            
                                    <!-- Columna Derecha -->
                                    <div class="target-form__column">
                                <div class="target-form__field">
                                            <label for="plate">{{ translate(translations.plate) }} <span class="required-label">(Requerido)</span></label>
                                    <input 
                                                [(ngModel)]="target.target_plate_number"
                                                name="target_plate_number"
                                        placeholder="Ej: G123456" 
                                        type="text" 
                                        id="plate" 
                                                required
                                    >
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="chassis">{{ translate(translations.chassis) }}</label>
                                    <input 
                                                [(ngModel)]="target.target_chassis_number"
                                                name="target_chassis_number"
                                                placeholder="Ej: 1HGCM82633A123456" 
                                        type="text" 
                                                id="chassis"
                                    >
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="color">{{ translate(translations.color) }}</label>
                                    <input 
                                                [(ngModel)]="displayColorName"
                                                name="colorDisplay"
                                                id="color"
                                                placeholder="{{ translate('management.targetForm.selectColor') }}"
                                        type="text" 
                                                (input)="filterColors($event)"
                                            >
                                            <input 
                                                [(ngModel)]="target.color"
                                                name="color"
                                                type="hidden"
                                            >
                                            <div class="color-container">
                                                <div class="color-options">
                                                    <div class="color-header">
                                                        <span>Colores disponibles</span>
                                                        <button type="button" class="close-btn" style="visibility: hidden;">
                                                            <i class="pi pi-times"></i>
                                                        </button>
                                                    </div>
                                                    <div class="color-list">
                                                        <div 
                                                            *ngFor="let color of filteredColors" 
                                                            class="color-option" 
                                                            [attr.data-value]="color.value"
                                                            [class.selected]="color.value === target.color"
                                                            (click)="selectColor(color)"
                                                        >
                                                            <div class="color-swatch" [style.background-color]="color.value"></div>
                                                            <span>{{color.label}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                
                                   

                                
                                  </div>
                                </div>
                
                                <div class="target-form__actions">
                                    <button type="submit" [disabled]="isLoading">
                                        <i class="pi" [ngClass]="isLoading ? 'pi-spin pi-spinner' : 'pi-save'"></i>
                                        {{ translate(translations.save) }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <i class="tab-icon pi pi-map-marker"></i>
                            <span class="tab-text">{{ translate(translations.installationInfo) }}</span>
                        </ng-template>
                        <div class="target-form__base">
                            <form class="target-form__form" (ngSubmit)="onSubmit()" ngNativeValidate>
                                <div class="target-form__grid">
                                
                                    <!-- Columna Izquierda -->
                                    <div class="target-form__column">
                                <div class="target-form__field">
                                            <label for="imei">{{ translate(translations.imei) }} <span class="required-label">(Requerido)</span></label>
                                    <input 
                                                [(ngModel)]="target.device_imei"
                                                name="device_imei"
                                                placeholder="Ej: 990000862471854" 
                                        type="text" 
                                                id="imei" 
                                                required
                                    >
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="sim_company">{{ translate('management.targetForm.simCardType') }}</label>
                                            <select
                                                [(ngModel)]="target.sim_company"
                                                name="sim_company"
                                                id="sim_company"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectSimCardType') }}</option>
                                                <option *ngFor="let simType of availableSimCardTypes" [ngValue]="simType.value">
                                                    {{simType.label}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="target-form__field">
                                            <label for="sim_card">{{ translate(translations.simCard) }} <span class="required-label">(Requerido)</span></label>
                                    <input 
                                                [(ngModel)]="target.sim_card_number"
                                                name="sim_card_number"
                                                placeholder="Ej: 8999991234567891234" 
                                        type="text" 
                                                id="sim_card" 
                                                required
                                    >
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="gps_model">{{ translate(translations.gpsModel) }}</label>
                                            <select
                                                [(ngModel)]="target.type"
                                                name="type"
                                                id="gps_model"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectGpsModel') }}</option>
                                                <option *ngFor="let model of availableGpsModels" [ngValue]="model.value">
                                                    {{model.label}}
                                                </option>
                                            </select>
                                </div>
                            
                                
                                        <div class="target-form__field">
                                            <label for="installation_details">{{ translate(translations.installationDetails) }}</label>
                                            <textarea 
                                                [(ngModel)]="target.installation_details"
                                                name="installation_details"
                                                placeholder="Detalles técnicos de la instalación" 
                                                id="installation_details"
                                                rows="3"
                                            ></textarea>
                                        </div>
                                    </div>

                                    <!-- Columna Derecha -->
                                    <div class="target-form__column">
                                        <div class="target-form__field">
                                            <label for="installation_date">{{ translate(translations.installationDate) }}</label>
                                            <input
                                                [(ngModel)]="target.installation_date"
                                                name="installation_date"
                                                type="date"
                                                id="installation_date"
                                            >
                                        </div>
                            
                                <div class="target-form__field">
                                            <label for="expiration_date">{{ translate(translations.expirationDate) }}</label>
                                    <input 
                                                [(ngModel)]="target.expiration_date"
                                                name="expiration_date"
                                        type="date" 
                                                id="expiration_date"
                                    >
                                </div>

                                <div class="target-form__field">
                                            <label for="installation_location">{{ translate(translations.installationLocation) }}</label>
                                            <select
                                                [(ngModel)]="target.installation_location"
                                                name="installation_location"
                                                id="installation_location"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectLocation') }}</option>
                                                <option *ngFor="let location of availableLocations" [ngValue]="location.value">
                                                    {{location.label}}
                                                </option>
                                    </select>
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="ignition_sensor">{{ translate(translations.ignitionSensor) }}</label>
                                            <select
                                                [(ngModel)]="target.ignition_sensor"
                                                name="ignition_sensor"
                                                id="ignition_sensor"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectOption') }}</option>
                                                <option [ngValue]="'yes'">{{ translate('management.targetForm.yes') }}</option>
                                                <option [ngValue]="'no'">{{ translate('management.targetForm.no') }}</option>
                                    </select>
                                </div>
                            
                                <div class="target-form__field">
                                            <label for="shutdown_control">{{ translate(translations.shutdownControl) }}</label>
                                            <select
                                                [(ngModel)]="target.engine_shutdown"
                                                name="engine_shutdown"
                                                id="shutdown_control"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectOption') }}</option>
                                                <option [ngValue]="'yes'">{{ translate('management.targetForm.yes') }}</option>
                                                <option [ngValue]="'no'">{{ translate('management.targetForm.no') }}</option>
                                    </select>
                                </div>

                                <div class="target-form__field">
                                            <label for="plan">{{ translate(translations.plan) }} <span class="required-label">(Requerido)</span></label>
                                            <select
                                                [(ngModel)]="target.plan"
                                                name="plan"
                                                id="plan"
                                                required
                                                (change)="onPlanChange()"
                                            >
                                                <option [ngValue]="''">{{ translate('management.targetForm.selectPlan') }}</option>
                                                <option *ngFor="let plan of availablePlans" [value]="plan.value">
                                                    {{plan.label}}
                                                </option>
                                            </select>
                                        </div>

                                        <!-- Price selector (appears only when a plan is selected) -->
                                        <div class="target-form__field" *ngIf="target.plan">
                                            <label for="price">{{ translate('management.targetForm.selectPrice') }} <span class="required-label">(Requerido)</span></label>
                                            <select
                                                [(ngModel)]="target.selectedPrice"
                                                name="price"
                                                id="price"
                                                required
                                                [compareWith]="comparePrices"
                                                (ngModelChange)="onPriceChange()"
                                            >
                                                <option [ngValue]="null">{{ translate('management.targetForm.selectPriceOption') }}</option>
                                                <option *ngFor="let price of availablePrices" [ngValue]="price">
                                                    {{price.amount}} - {{ translate('settings.plans.' + price.payment_period) }}
                                                </option>
                                            </select>
                                        </div>
                
                
                                    </div>
                                </div>

                                <div class="target-form__actions">
                                    <button type="submit" [disabled]="isLoading">
                                        <i class="pi" [ngClass]="isLoading ? 'pi-spin pi-spinner' : 'pi-save'"></i>
                                        {{ translate(translations.save) }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </p-tabPanel>

                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <i class="tab-icon pi pi-history"></i>
                            <span class="tab-text">{{ translate(translations.processInfo) }}</span>
                        </ng-template>
                      <div class="process">
                        <div class="process__form">
                            <form class="process__form-main">
                                    <div class="target-form__grid process-grid">
                                        <!-- Columna Izquierda - Campos de formulario -->
                                        <div class="target-form__column process-fields-column">
                                <div class="target-form__field">
                                                <label for="process_type">{{ translate('management.targetForm.processType') }}</label>
                                                <select
                                                    name="process_type"
                                                    id="process_type"
                                                >
                                                    <option value="installation">{{ translate('management.targetForm.processTypeInstallation') }}</option>
                                                    <option value="maintenance">{{ translate('management.targetForm.processTypeMaintenance') }}</option>
                                                    <option value="replacement">{{ translate('management.targetForm.processTypeReplacement') }}</option>
                                                    <option value="check">{{ translate('management.targetForm.processTypeCheck') }}</option>
                                    </select>
                                </div>
                            
                                <div class="target-form__field">
                                                <label for="process_date">{{ translate('management.targetForm.processDate') }}</label>
                                                <input
                                                    type="date"
                                                    id="process_date"
                                                    name="process_date"
                                                >
                                </div>
                            
                                <div class="target-form__field">
                                                <label for="technician">{{ translate('management.targetForm.technician') }}</label>
                                                <select
                                                    name="technician"
                                                    id="technician"
                                                >
                                                    <option value="">Técnico 1</option>
                                                    <option value="">Técnico 2</option>
                                                    <option value="">Técnico 3</option>
                                    </select>
                                </div>

                                            <!-- Botón para agregar proceso (con el estilo del botón de agregar campos) -->
                                            <div class="add-process-container">
                                                <button type="button" class="add-field-btn" (click)="onSubmitProcess()">
                                                    <i class="pi pi-plus"></i>
                                                    {{ translate('management.targetForm.addProcess') }}
                                                </button>
                                            </div>
                                        </div>

                                        <!-- Columna Derecha - Notas del proceso -->
                                        <div class="target-form__column">
                                            <div class="target-form__field full-height-field">
                                                <label for="process_notes">{{ translate('management.targetForm.processNotes') }}</label>
                                                <textarea 
                                                    name="process_notes"
                                                    id="process_notes"
                                                    placeholder="Describa el proceso realizado" 
                                                    class="auto-resize-textarea"
                                                ></textarea>
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                        <div class="process__logs">
                                <p-accordion>
                                <p-accordionTab header="Instalación - 02/05/24">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </p-accordionTab>
                                <p-accordionTab header="Cambio de GPS - 02/05/24">
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                                    </p>
                                </p-accordionTab>
                                <p-accordionTab header="Chequeo - 02/05/24">
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                                    </p>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                      </div>
                    </p-tabPanel>

                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <i class="tab-icon pi pi-cloud"></i>
                            <span class="tab-text">{{ translate('management.targetForm.cloudAdmin') }}</span>
                        </ng-template>
                        <app-cloud></app-cloud>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>