<!-- <p-progressbar color="#fa4c4c" *ngIf="loadingTheme" mode="indeterminate" [style]="{ height: '6px' }" /> -->
<div class="main">
    <div class="navbar">
   
        <div class="navbar__controls">
            <div class="navbar__controls-base">
                <button class="button button--flat-negative">
                    <i class="pi pi-calendar-clock"></i>
                    {{ 'navbar.scheduleProcess' | translate }}
                </button>
                <button class="button button--flat-negative">
                    <i class="pi pi-trash"></i>
                    {{ 'navbar.canceled' | translate }} ( 45 )
                </button>
                <button class="button button--flat-negative button--disabled">
                    <i class="pi pi-reply"></i>
                    {{ 'navbar.transfer' | translate }}
                </button>
                <button class="button button--flat-negative button--disabled">
                    <i class="pi pi-share-alt"></i>
                    {{ 'navbar.share' | translate }}
                </button>
            </div>

            <div class="card flex justify-content-center navbar__drupdown">
                <p-menu #menu [model]="items" [popup]="true" />
                <i (click)="menu.toggle($event)" class="pi pi-ellipsis-v"></i>
            </div>
         
        </div>
        <div class="navbar__info">
            <!-- <i class="pi pi-question-circle"></i> -->

            <!-- <div class="set-theme" (click)="toggleTheme()">
                <i *ngIf="currentTheme == 'light' && !loadingTheme" class="pi pi-moon"></i>
                <i *ngIf="currentTheme == 'dark' && !loadingTheme" class="pi pi-sun"></i>
                

              </div> -->

            <div class="language-menu">
                <p-menu #langMenu [model]="languageItems" [popup]="true" />
                <button class="button button--flat-negative" (click)="langMenu.toggle($event)">
                    <i class="pi pi-globe"></i>
                </button>
            </div>

            <div class="user-menu">
                <p-menu #userMenu [model]="userMenuItems" [popup]="true" />
                <button class="button button--flat-negative" (click)="userMenu.toggle($event)">
                    <i class="pi pi-user"></i>
                </button>
            </div>
        </div>
    </div>
</div>