<!-- <p-progressbar color="#fa4c4c" *ngIf="loadingTheme" mode="indeterminate" [style]="{ height: '6px' }" /> -->
<div class="main">
    <div class="navbar">
   
        <div class="navbar__controls">
            <div class="navbar__controls-base">
                <button class="button button--flat-negative"> <i class="pi pi-calendar-clock"></i> Programar proceso</button>
                <button class="button button--flat-negative"> <i class="pi pi-trash"></i> Cancelados ( 45 )</button>
                <button class="button button--flat-negative button--disabled"> <i class="pi pi-reply"></i> Transferir</button>
                <button class="button button--flat-negative  button--disabled"> <i class="pi pi-share-alt"></i> Compartir</button>

             
            </div>

            <div class="card flex justify-content-center navbar__drupdown">
                <p-menu #menu [model]="items" [popup]="true" />
                <i (click)="menu.toggle($event)" class="pi pi-ellipsis-v"></i>
                
            </div>
         
        </div>
        <div class="navbar__info">
            <!-- <i class="pi pi-question-circle"></i> -->

            <!-- <div class="set-theme" (click)="toggleTheme()">
                <i *ngIf="currentTheme == 'light' && !loadingTheme" class="pi pi-moon"></i>
                <i *ngIf="currentTheme == 'dark' && !loadingTheme" class="pi pi-sun"></i>
                

              </div> -->

            <div class="user-menu">
                <p-menu #userMenu [model]="userMenuItems" [popup]="true" />
                <button class="button button--flat-negative" (click)="userMenu.toggle($event)">
                    <i class="pi pi-user"></i>
                </button>
            </div>
        </div>
    </div>
</div>