<p-toast></p-toast>
<div class="main">
        <div *ngIf="showMaps" class="management__maps">
            <div class="management__route" [ngClass]="{'breadcrumb-loading': breadcrumbLoading}">
                <p-breadcrumb 
                
                [model]="items" 
                [home]="home" />
            </div>
            

            <div class="management__controls">
               
            </div>

            <div class="management__user-control">
                <div class="management__user-control-display-button">  <i (click)="showMapsToggle()" class="pi pi-window-maximize"></i></div>
                <div class="management__user-control-back-button" *ngIf="canNavigateBack()">  <i (click)="goToParent()" class="pi pi-arrow-left"></i></div>
                <div class="management__user-control-header">
                    <div class="management__user-control-icon">
                        <i class="pi pi-user"></i>
                    </div>
                    <div class="management__user-control-title">
                        <strong *ngIf="!loading">{{ selectedUser?.name }} {{ selectedUser?.last_name }}</strong>
                        <p-skeleton *ngIf="loading" [ngStyle]="{ 'width': '150px', 'height': '24px' }"></p-skeleton>
                    </div>
                    <div class="management__user-control-subtitle">
                        <span *ngIf="!loading">{{ selectedUser?.email }}</span>
                        <p-skeleton *ngIf="loading" [ngStyle]="{ 'width': '120px', 'height': '18px' }"></p-skeleton>
                    </div>
                
             
                    <div class="management__user-control-controls" *ngIf="!loading">
                        <button (click)="setOp('u')" [ngClass]="{'button--primary-flat': managementService.getOp() === 'u', 'button--flat': managementService.getOp() !== 'u' }" class="button"> <i class="pi pi-users"></i> {{ translations.users | translate }} {{ users.length }} </button>
                        <button (click)="setOp('t')" [ngClass]="{'button--primary-flat': managementService.getOp() === 't', 'button--flat': managementService.getOp() !== 't'  }" class="button button--flat"> <i class="pi pi-map-marker"></i> {{ translations.targets | translate }} 2 </button>
                    </div>
                </div>
                <div class="management__user-control-content">
                    <div class="management__content management__content--maps">

                        <div *ngIf="managementService.getOp() === 'u'" class="management__search">
                            <div  class="management__input-search">
                                <label for="management-search"><i class="pi pi-search"></i></label>
                                <input (keyup)="searchUser()" [(ngModel)]="searchUsersTerm" id="management-search" type="text" [placeholder]="translations.searchUsers | translate">
                                
                            </div>
                            <button (click)="showUserForm()" class="button button--primary-flat-red">
                                <i class="pi pi-user-plus"></i>
                                <!-- <span class="button-text">{{ translations.newUser | translate }}</span> -->
                            </button>
                        </div>
    
                        <div *ngIf="managementService.getOp() === 't'" class="management__search">
                            <div  class="management__input-search">
                                <label for="management-search"><i class="pi pi-search"></i></label>
                                <input (keyup)="searchTargets()" [(ngModel)]="searchTargetsTerm" id="management-search" type="text" [placeholder]="translations.searchTargets | translate">
                                
                            </div>
                            <button class="button button--primary-flat-red">
                                <i class="pi pi-plus"></i>
                                <!-- <span class="button-text">{{ translations.newTarget | translate }}</span> -->
                            </button>
                        </div>
    
    
    
                    <div class="management__content-body">
                        <div *ngIf="managementService.getOp() === 'u'" class="management__content-cards management__content-cards--maps">
                            <ng-container *ngIf="!loading; else loadingSkeletonsMaps">
                                <div *ngIf="users.length === 0" class="no-users-message">
                                    <i class="pi pi-users" style="font-size: 2rem; color: #888; display: block; margin-bottom: 0.5rem;"></i>
                                    <span>{{ 'management.noUsers' | translate }}</span>
                                </div>
                                <div *ngFor="let user of users" class="management__user-card management__user-card--maps">
                                    <div class="management__user-card-title"> <strong>{{ user.name }} {{ user.last_name }}</strong> </div>
                                    <div class="management__user-card-subtitle"><span>{{ user.email }}</span></div>
                                    <div class="management__user-card-controls">
                                        <button (click)="enterUser(user)" class="button button--primary-flat" title="Entrar al usuario"> <i class="pi pi-sign-in " ></i> </button>
                                        <button (click)="editUser(user)" class="button button--primary-flat" title="Editar usuario"> <i class="pi pi-pencil" ></i> </button>
                                        <button class="button button--primary-flat" title="Eliminar usuario" (click)="confirmDeleteUser(user)"> <i class="pi pi-trash" ></i> </button>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-template #loadingSkeletonsMaps>
                                <div *ngFor="let skel of [1,2]" class="management__user-card management__user-card--maps">
                                    <p-skeleton [ngStyle]="{ 'width': '80%', 'height': '24px', 'margin-bottom': '8px' }"></p-skeleton>
                                    <p-skeleton [ngStyle]="{ 'width': '60%', 'height': '18px', 'margin-bottom': '8px' }"></p-skeleton>
                                    <div class="management__user-card-controls">
                                        <!-- Opciones removidas, solo barra -->
                                    </div>
                                </div>
                            </ng-template>
                        </div>
    
                        <div  *ngIf="managementService.getOp() === 't'" class="management__content-table">
                          
    
    
                            <div class="card">
                                <p-table 
                                    [value]="customers" 
                                    [(selection)]="customersSelected" 
                                    dataKey="_id" 
                                    >
                                      
                                        <ng-template pTemplate="body" let-customer>
                                            <tr class="management__content-table-tr">
                                            
                                                <td style="font-size: 13px!important;"> <span (click)="showMapsToggle()" class="management__content-table-link"><i class="pi pi-map-marker" ></i> {{customer.name}}  </span>   
                                                    <span style="margin-bottom: 10px; display: block;">IMEI:6516516542184</span><p-tableCheckbox [value]="customer" />
                                                   <p-badge [style]="{transform: 'scale(0.8)'}" [value]="customer.status" [severity]="customer.status == 'En linea'?'success':'secondary'" />  
                                                </td>
                                               
                                            
                                                <td style="width: 1rem">
                                                    <div style="transform: scale(0.8)" class="management__user-table-controls management__user-table-controls--maps">
                                                        <button (click)="showTargetForm()" class="button button--primary-flat" title="Editar usuario"> <i class="pi pi-pen-to-square" ></i> </button>
                                                        <button class="button button--primary-flat-icon" title="Eliminar usuario"> <i class="pi pi-times-circle" ></i> </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                </p-table>
                            </div>
                              
                        </div>
                    </div>
                </div>
                </div>
           </div>
            <div class="management__content-maps">

                <app-maps></app-maps>
            </div>
        </div>


        <div *ngIf="!showMaps" class="management">
            <div class="management__route" [ngClass]="{'breadcrumb-loading': breadcrumbLoading}">
                <p-breadcrumb 
                
                [model]="items" 
                [home]="home" />
            </div>

            <div class="management__controls">
                <i (click)="showMapsToggle()" class="pi pi-window-minimize" [title]="translations.showMap | translate"></i>
            </div>

            <div class="management__user">
             
               <div class="management__card-user">
                <div class="management__card-user-img">
                    <i class="pi pi-user"></i>
                </div>
                <div class="management__user-title">
                    <strong *ngIf="!loading">{{ selectedUser?.name }} {{ selectedUser?.last_name }}</strong>
                    <p-skeleton *ngIf="loading" [ngStyle]="{ 'width': '150px', 'height': '24px' }"></p-skeleton>
                </div>
                <div class="management__user-subtitle">
                    <span *ngIf="!loading">{{ selectedUser?.email }}</span>
                    <p-skeleton *ngIf="loading" [ngStyle]="{ 'width': '120px', 'height': '18px' }"></p-skeleton>
                </div>
                <div class="management__user-subtitle">
                    <span *ngIf="!loading">{{ selectedUser?.access_level_id?.name | titlecase }}</span>
                    <p-skeleton *ngIf="loading" [ngStyle]="{ 'width': '120px', 'height': '18px' }"></p-skeleton>
                </div>
         
           
               </div>

               <div class="management__user-controls" *ngIf="!loading">
                <div class="management__user-options">
                    <button (click)="setOp('u')" [ngClass]="{'button--primary-flat': managementService.getOp() === 'u', 'button--flat': managementService.getOp() !== 'u' }" class="button"> <i class="pi pi-users"></i> {{ translations.users | translate }} ( {{ users.length }} )</button>
                    <button (click)="setOp('t')" [ngClass]="{'button--primary-flat': managementService.getOp() === 't', 'button--flat': managementService.getOp() !== 't'  }" class="button button--flat"> <i class="pi pi-map-marker"></i> {{ translations.targets | translate }} ( 2 )</button>
                </div>
                <div class="management__user-back-button">
                    <button *ngIf="canNavigateBack()" (click)="goToParent()" class="button button--flat"> <i class="pi pi-arrow-left"></i> {{ translations.back | translate }}</button>
                </div>
               </div>

            </div>
            <div class="management__content">

                    <div *ngIf="managementService.getOp() === 'u'" class="management__search">
                        <div  class="management__input-search">
                            <label for="management-search"><i class="pi pi-search"></i></label>
                            <input (keyup)="searchUser()" [(ngModel)]="searchUsersTerm" id="management-search" type="text" [placeholder]="translations.searchUsers | translate">
                            
                        </div>
                        <button (click)="showUserForm()" class="button button--primary-flat-red">
                            <i class="pi pi-user-plus"></i>
                            <span class="button-text">{{ translations.newUser | translate }}</span>
                        </button>
                    </div>

                    <div *ngIf="managementService.getOp() === 't'" class="management__search">
                        <div  class="management__input-search">
                            <label for="management-search"><i class="pi pi-search"></i></label>
                            <input (keyup)="searchTargets()" [(ngModel)]="searchTargetsTerm" id="management-search" type="text" [placeholder]="translations.searchTargets | translate">
                            
                        </div>
                        <button class="button button--primary-flat-red">
                            <i class="pi pi-plus"></i>
                            <span class="button-text">{{ translations.newTarget | translate }}</span>
                        </button>
                    </div>



                <div class="management__content-body">
                    <div *ngIf="managementService.getOp() === 'u'" class="management__content-cards">
                        <ng-container *ngIf="!loading; else loadingSkeletons">
                            <div *ngIf="users.length === 0" class="no-users-message">
                                <i class="pi pi-users" style="font-size: 2rem; color: #888; display: block; margin-bottom: 0.5rem;"></i>
                                <span>{{ 'management.noUsers' | translate }}</span>
                            </div>
                            <div *ngFor="let user of users" class="management__user-card">
                                <div class="management__user-card-icon"> <i class="pi pi-user"></i> </div>
                                <div class="management__user-card-title"> <strong>{{ user.name }} {{ user.last_name }}</strong> </div>
                                <div class="management__user-card-subtitle"> <span>{{ user.email }}</span> </div>
                                <div class="management__user-card-footer">{{ user.phone }}</div>
                                <div class="management__user-card-controls">
                                    <button (click)="enterUser(user)" class="button button--primary-flat" title="Entrar al usuario"> <i class="pi pi-sign-in " ></i> </button>
                                    <button (click)="editUser(user)" class="button button--primary-flat" title="Editar usuario"> <i class="pi pi-pencil" ></i> </button>
                                    <button class="button button--primary-flat" title="Eliminar usuario" (click)="confirmDeleteUser(user)"> <i class="pi pi-trash" ></i> </button>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #loadingSkeletons>
                            <div *ngFor="let skel of [1,2]" class="management__user-card">
                                <div class="management__user-card-icon"> <p-skeleton [ngStyle]="{ 'width': '40px', 'height': '40px', 'shape': 'circle' }"></p-skeleton> </div>
                                <div class="management__user-card-title"> <p-skeleton [ngStyle]="{ 'width': '80%', 'height': '24px', 'margin-bottom': '8px' }"></p-skeleton> </div>
                                <div class="management__user-card-subtitle"> <p-skeleton [ngStyle]="{ 'width': '60%', 'height': '18px', 'margin-bottom': '8px' }"></p-skeleton> </div>
                                <div class="management__user-card-footer"><p-skeleton [ngStyle]="{ 'width': '50%', 'height': '16px' }"></p-skeleton></div>
                                <div class="management__user-card-controls">
                                    <!-- Opciones removidas, solo barra -->
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <div  *ngIf="managementService.getOp() === 't'" class="management__content-table">
                      


                        <div class="card">
                            <p-table 
                                [value]="customers" 
                                [(selection)]="customersSelected" 
                                dataKey="_id" 
                                [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header" >
                                    <tr  >
                                        <th  style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>IMEI</th>
                                        <th>SIM</th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-customer>
                                    <tr class="management__content-table-tr">
                                        <td>
                                            <p-tableCheckbox [value]="customer" />
                                        </td>
                                        <td><span (click)="showMapsToggle()" class="management__content-table-link"><i class="pi pi-map-marker" ></i> {{customer.name}}</span> </td>
                                        <td> <p-badge [value]="customer.status" [severity]="customer.status == 'En linea'?'success':'secondary'" /></td>
                                        <td>{{customer.imei}}</td>
                                        <td>{{customer.sim}}</td>
                                        <td>
                                            <div class="management__user-table-controls">
                                                <button class="button button--primary-flat" (click)="showTargetForm()" title="Editar usuario"> <i class="pi pi-pen-to-square" ></i> </button>
                                                <button class="button button--primary-flat-icon" title="Eliminar usuario"> <i class="pi pi-times-circle" ></i> </button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
</div>



<div class="card flex justify-content-center">
   
    <p-dialog header="Configuración de objetivo" [modal]="true" [(visible)]="targetFormDisplay" >
        <app-target-form></app-target-form>
    </p-dialog>

    <p-dialog header="Formulario de usuario" [modal]="true" [(visible)]="userFormDisplay" 
        (onHide)="userToEdit = null"
    >
        <app-user-form [userInput]="userToEdit" (userCreated)="onUserCreated()"></app-user-form>
    </p-dialog>
</div>

<p-confirmDialog></p-confirmDialog>