<div class="main">
        <div *ngIf="showMaps" class="management__maps">
            <div class="management__route">

                <p-breadcrumb 
                
                [model]="items" 
                [home]="home" />
            </div>
            

            <div class="management__controls">
               
            </div>

            <div class="management__user-control">
                <div class="management__user-control-display-button">  <i (click)="showMapsToggle()" class="pi pi-window-maximize"></i></div>
                <div class="management__user-control-back-button">  <i  class="pi pi-arrow-left"></i></div>
                <div class="management__user-control-header">
                    <div class="management__user-control-icon">
                        <i class="pi pi-user"></i>
                    </div>
                    <div class="management__user-control-title">
                        <strong>Frankely Garcia</strong>
                    </div>
                    <div class="management__user-control-subtitle">
                        <span>Administrador</span>
                    </div>
             
                    <div class="management__user-control-controls">
                        <button (click)="setOp('u')" [ngClass]="{'button--primary-flat': op === 'u', 'button--flat': op != 'u' }" class="button"> <i class="pi pi-users"></i> Usuarios ( 45 )</button>
                        <button (click)="setOp('t')" [ngClass]="{'button--primary-flat': op === 't', 'button--flat': op != 't'  }" class="button button--flat"> <i class="pi pi-map-marker"></i> Objetivos ( 2 )</button>
                    </div>
                </div>
                <div class="management__user-control-content">
                    <div class="management__content management__content--maps">

                        <div *ngIf="op == 'u'" class="management__search">
                            <div  class="management__input-search">
                                <label for="management-search"><i class="pi pi-search"></i></label>
                                <input (keyup)="searchUser()" [(ngModel)]="searchUsersTerm" id="management-search" type="text" placeholder="Buscar usuarios">
                                
                            </div>
                            <button class="button button--primary-flat-red"> <i class="pi pi-user-plus"></i> </button>
               
                        </div>
    
                        <div *ngIf="op == 't'" class="management__search">
                            <div  class="management__input-search">
                                <label for="management-search"><i class="pi pi-search"></i></label>
                                <input (keyup)="searchTargets()" [(ngModel)]="searchTargetsTerm" id="management-search" type="text" placeholder="Buscar objetivos">
                                
                            </div>
                            <button class="button button--primary-flat-red"> <i class="pi pi-plus"></i> </button>
               
                        </div>
    
    
    
                    <div class="management__content-body">
                        <div *ngIf="op == 'u'" class="management__content-cards management__content-cards--maps">
                        <div *ngFor="let user of [1,2,4,5,4,5,6,4,4,3,4,5,6,4]" class="management__user-card management__user-card--maps">
                            <div class="management__user-card-title"> <strong>Frankely Garcia</strong> </div>
                            <div class="management__user-card-subtitle"><span>frxnkely&#64;gmail.com</span></div>
                            <div class="management__user-card-controls">
                                <button class="button button--primary-flat" title="Entrar al usuario"> <i class="pi pi-sign-in " ></i> </button>
                                <button class="button button--primary-flat" title="Editar usuario"> <i class="pi pi-pencil" ></i> </button>
                                <button class="button button--primary-flat" title="Eliminar usuario"> <i class="pi pi-trash" ></i> </button>
                            </div>
                        </div>
                           
                        </div>
    
                        <div  *ngIf="op == 't'" class="management__content-table">
                          
    
    
                            <div class="card">
                                <p-table 
                                    [value]="customers" 
                                    [(selection)]="customersSelected" 
                                    dataKey="id" 
                                    >
                                      
                                        <ng-template pTemplate="body" let-customer>
                                            <tr class="management__content-table-tr">
                                            
                                                <td style="font-size: 13px!important;"> <span (click)="showMapsToggle()" class="management__content-table-link"><i class="pi pi-map-marker" ></i> {{customer.name}}  </span>   
                                                    <span style="margin-bottom: 10px; display: block;">IMEI:6516516542184</span><p-tableCheckbox [value]="customer" />
                                                   <p-badge [style]="{transform: 'scale(0.8)'}" [value]="customer.status" [severity]="customer.status == 'En linea'?'success':'secondary'" />  
                                                </td>
                                               
                                            
                                                <td style="width: 1rem">
                                                    <div style="transform: scale(0.8)" class="management__user-table-controls management__user-table-controls--maps">
                                                        <button (click)="showDialog()" class="button button--primary-flat" title="Editar usuario"> <i class="pi pi-pen-to-square" ></i> </button>
                                                        <button class="button button--primary-flat-icon" title="Eliminar usuario"> <i class="pi pi-times-circle" ></i> </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                </p-table>
                            </div>
                              
                        </div>
                    </div>
                </div>
                </div>
           </div>
            <div class="management__content-maps">

                <app-maps></app-maps>
            </div>
        </div>


        <div *ngIf="!showMaps" class="management">
            <div class="management__route">

                <p-breadcrumb 
                
                [model]="items" 
                [home]="home" />
            </div>

            <div class="management__controls">
                <i (click)="showMapsToggle()" class="pi pi-window-minimize" title="Mostrar el mapa"></i>
            </div>

            <div class="management__user">
             
               <div class="management__card-user">
                <div class="management__card-user-img">
                    <i class="pi pi-user"></i>
                </div>
                <div class="management__user-title">
                    <strong>Frankely Garcia</strong>
                </div>
                <div class="management__user-subtitle">
                    <span>Administrador</span>
                </div>
                <div class="management__user-subtitle">
                    <span>frankely&#64;gmail.com</span>
                </div>
                <div class="management__user-footer">
                    <span>(809) 442-0272</span>
                </div>
               </div>

               <div class="management__user-controls">
                <div class="management__user-options">
                    <button (click)="setOp('u')" [ngClass]="{'button--primary-flat': op === 'u', 'button--flat': op != 'u' }" class="button"> <i class="pi pi-users"></i> Usuarios ( 45 )</button>
                    <button (click)="setOp('t')" [ngClass]="{'button--primary-flat': op === 't', 'button--flat': op != 't'  }" class="button button--flat"> <i class="pi pi-map-marker"></i> Objetivos ( 2 )</button>
                </div>
                <div class="management__user-back-button">
                    <button class="button button--flat"> <i class="pi pi-arrow-left"></i> Volver</button>
                </div>
               </div>

            </div>
            <div class="management__content">

                    <div *ngIf="op == 'u'" class="management__search">
                        <div  class="management__input-search">
                            <label for="management-search"><i class="pi pi-search"></i></label>
                            <input (keyup)="searchUser()" [(ngModel)]="searchUsersTerm" id="management-search" type="text" placeholder="Buscar usuarios">
                            
                        </div>
                        <button class="button button--primary-flat-red"> <i class="pi pi-user-plus"></i> Nuevo usuario</button>
           
                    </div>

                    <div *ngIf="op == 't'" class="management__search">
                        <div  class="management__input-search">
                            <label for="management-search"><i class="pi pi-search"></i></label>
                            <input (keyup)="searchTargets()" [(ngModel)]="searchTargetsTerm" id="management-search" type="text" placeholder="Buscar objetivos">
                            
                        </div>
                        <button class="button button--primary-flat-red"> <i class="pi pi-plus"></i> Nuevo objetivo</button>
           
                    </div>



                <div class="management__content-body">
                    <div *ngIf="op == 'u'" class="management__content-cards">
                    <div *ngFor="let user of [1,2,4,5,4,5,6,4,4,3,4,5,6,4]" class="management__user-card">
                        <div class="management__user-card-icon"> <i class="pi pi-user"></i> </div>
                        <div class="management__user-card-title"> <strong>Frankely Garcia</strong> </div>
                        <div class="management__user-card-subtitle"> <span>frxnkely&#64;gmail.com</span> </div>
                        <div class="management__user-card-footer">(809) 986-3243</div>
                        <div class="management__user-card-controls">
                            <button class="button button--primary-flat" title="Entrar al usuario"> <i class="pi pi-sign-in " ></i> </button>
                            <button class="button button--primary-flat" title="Editar usuario"> <i class="pi pi-pencil" ></i> </button>
                            <button class="button button--primary-flat" title="Eliminar usuario"> <i class="pi pi-trash" ></i> </button>
                        </div>
                    </div>
                       
                    </div>

                    <div  *ngIf="op == 't'" class="management__content-table">
                      


                        <div class="card">
                            <p-table 
                                [value]="customers" 
                                [(selection)]="customersSelected" 
                                dataKey="id" 
                                [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header" >
                                        <tr  >
                                            <th  style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                            <th>IMEI</th>
                                            <th>SIM</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-customer>
                                        <tr class="management__content-table-tr">
                                            <td>
                                                <p-tableCheckbox [value]="customer" />
                                            </td>
                                            <td><span (click)="showMapsToggle()" class="management__content-table-link"><i class="pi pi-map-marker" ></i> {{customer.name}}</span> </td>
                                            <td> <p-badge [value]="customer.status" [severity]="customer.status == 'En linea'?'success':'secondary'" /></td>
                                            <td>{{customer.imei}}</td>
                                            <td>{{customer.sim}}</td>
                                            <td>
                                                <div class="management__user-table-controls">
                                                    <button class="button button--primary-flat" (click)="showDialog()" title="Editar usuario"> <i class="pi pi-pen-to-square" ></i> </button>
                                                    <button class="button button--primary-flat-icon" title="Eliminar usuario"> <i class="pi pi-times-circle" ></i> </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                            </p-table>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
</div>



<div class="card flex justify-content-center">
   
    <p-dialog header="Configuración de objetivo" [modal]="true" [(visible)]="visible" >
        <app-target-form></app-target-form>
    </p-dialog>
</div>