/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "primeicons/primeicons.css";

/* Globales */
body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
}

* {
  
  transition: color 0.5s, background 0.2s;
  scrollbar-width: thin; /* Ancho de la barra */
  scrollbar-color: var(--globalColorScrollThumb) var(--globalColorNone); /* Colores de scroll */
}

/* Scroll personalizado */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de scroll */
}

::-webkit-scrollbar-track {
  background: var(--globalColorScrollThumb);
}

::-webkit-scrollbar-thumb {
  background: var(--globalColorScrollThumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--globalColorScrollThumb);
}

/* PrimeNG: Breadcrumb */
.p-breadcrumb {
  border: none !important;
  overflow: hidden;
  background: var(--globalColorNone);
}

.p-breadcrumb .p-menuitem-text {
  font-size: 12px;
  color: var(--globalColorTextLight);
}

/* PrimeNG: Iconos */
.p-icon {
  margin: 0 10px;
  transform: scale(0.6);
  opacity: 0.7;
}

/* Botones */
.button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button i {
  font-size: 12px;
  opacity: 0.5;
}

.button--flat {
  background: var(--globalColorNone);
  color: var(--globalColorSelectOption);
}

.button--primary-flat {
  background: var(--globalColorNone);
  color: var(--globalColorButtonBackground);
  font-weight: bold;
}

.button--dark {
  background: var(--globalColorSelectOption);
  color: var(--globalColorTextStrong);
}

.button--primary-flat-negative,
.button--flat-negative {
  background: var(--globalColorNone);
  color: var(--globalColorTextStrong);
}

.button--primary-flat-red {
  background: var(--globalColorNone);
  color: var(--globalColorPrimaryInmutable);
}

.button--primary-flat-icon {
  background: var(--globalColorNone);
  color: var(--globalColorPrimaryInmutable);
}

.button--primary-flat-icon i {
  color: var(--globalColorPrimaryInmutable) !important;
}

.button--disabled {
  opacity: 0.5;
  cursor: default;
}

/* PrimeNG: Tablas */
.p-datatable-thead th {
  background: var(--globalColorNone);
  color: var(--globalColorPrimaryInmutable);
  border-bottom: 1px solid var(--globalColorBorderDark);
  transition: all 0.2s;
  font-size: 14px !important;
}


.p-datatable-thead .p-checkbox-box,
.p-checkbox-box {
  background: var(--globalColorBorderDark)!important;
  border-color: var(--globalColorNone) !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: var(--backgroundCheckBox) !important;
  border-color: var(--globalColorMainBackgroundStart2) !important;
}

.p-menu {
  background: var(--globalColorPrimaryDarkStart);
  color: var(--globalColorTextStrong);
  border: 1px solid var(--globalColorBorderDark);
}

.p-menu .p-element {
  color: var(--globalColorTextStrong);
  background: var(--globalColorPrimaryDarkEnd);
}

.p-menu .p-menuitem-link {
  color: var(--globalColorTextStrong)!important;
}

.p-menu .p-menuitem-text, .p-menu .p-menuitem-icon {
  color: var(--globalColorTextStrong);
}


.p-tabview-title{
  color: var(--globalColorSelectOption);
  font-size: 13px;
}

.p-tabview-nav-link{
  color: var(--globalColorSelectOption)!important;
  
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  border-bottom: 3px solid var(--globalColorPrimaryInmutable);
}