@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "primeicons/primeicons.css";


body , html{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 0;
 
  transition: all 0.2s;
}

*{
  margin: 0;
   
}
/* Para navegadores basados en WebKit (Chrome, Safari, Edge moderno) */
::-webkit-scrollbar {
  width: 12px;               /* Ancho de la barra de scroll */
}

::-webkit-scrollbar-track {
  background: var(--colorSelectOption);      
}

::-webkit-scrollbar-thumb {
  background: var(--colorButtonBackground);      
  border-radius: 6px;        
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorButtonBackground);     
}


* {
  scrollbar-width: thin;  /* Ancho de la barra */
  scrollbar-color: var(--colorButtonBackground) var(--colorSelectOption);  /* Color del pulgar y de la pista */
}


/* PRIMENG */
.p-breadcrumb{
  border: none!important;
  overflow: hidden;
}
.p-breadcrumb .p-menuitem-text {
  font-size: 12px;
}

.p-icon{
margin-left: 10px;
margin-right: 10px;
  transform: scale(0.6);
  opacity: 0.7;
}


/* BUTTONS */
.button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.button i{
  font-size: 12px;
  opacity: 0.5;
}

.button--flat{
  background: var(--colorNone);
  color: var(--colorSelectOption);
}

.button--primary-flat{
  background: var(--colorNone);
  color: var(--colorButtonBackground);
}

.button--dark{
  background: var(--colorSelectOption);
  color: var(--colorTextStrong);

}
.button--primary-flat-negative{
  background: var(--colorNone);
  color: var(--colorTextStrong);

}

.button--flat-negative{
  background: var(--colorNone);
  color: var(--colorTextStrong);
}
.button--disabled{
  opacity: 0.5;
  cursor: default;
}